@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  /*--lavendel: var(--lavendel);*/
  --lavendel:#E187F0;
  /*--licht: var(--licht);*/
  --licht:#F9EDD9;
  /*--nacht: var(--nacht);*/
  --nacht:#0E2720;
  /*--himmel: var(--himmel);*/
  --himmel:#0093ED;
}

body{background-color:#0E2720;}
*{
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 400 ;
  color: #F9EDD9;
  text-decoration:none;
}

h1{
  font-size: 100px;
  font-weight: 200;
}

h2{
  font-size: 80px;
  font-weight: 300;
}

h3{
  font-size: 40px;
  font-weight: 300;
}

h4{
  font-size: 37px;
  font-weight: 600;
  padding: 20px 0px 20px 0px;
}

h5{
  font-size: 20px;
  font-weight: 400;
}

.fett{
  font-weight: 600;
}

h6{
  font-size: 14px;
  font-weight: 400;
}


header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: none;
  }

  .nav_links{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style:none;
    padding: 20px;
    margin:0px;
  }

.nav_links li a{
  display: block;
  box-sizing:border-box;
  height:40px;
  padding: 40px 15px 0px 15px;
}

.logo{
  padding: 80px 15px 0px 15px;
}

.login{
  padding: 80px 180px 0px 15px;
}

.nav_links li a:hover {
  color:var(--lavendel);
}

footer{
  margin-top: auto;
  background-color: #0093ED;
  padding: 20px 0px 0px 0px;
  right: 0;
  left: 0;
  position: absolute;
}
footer h4 {
  color: #0E2720;
}

footer a{
  color: #0E2720;
}

.footer_titel{
  text-align: center;
  padding-bottom: 0px;
}

.SoMe_logos{
  text-align: center;
  padding-bottom: 100px;
}

.footer_bottom{
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  background-color: #0093ED;
  padding: 20px;
}


ul{
  list-style: none;
}

.footer_links{
flex: 1;
}

.footer_hover:hover {
  color: var(--licht);
}

.footer_mitte_1{
flex: 1;
}

.footer_mitte_2{
flex: 1;
}

.outlook:hover{
  color:var(--licht)
}

.footer_rechts{
flex: 1;
padding-left: 200px;
}

.footer_rechts li a:hover {
  color:var(--licht);
}

main div{
  box-sizing: border-box;
  padding-bottom: 30px;
  }

.über_uns_beige {
  color: var(--licht);
}
.über_uns_blau {
  color: var(--himmel);
}
.über_uns_pink {
  color: var(--lavendel);
}

.pfeil {
  size: auto;
  padding-left: 5%;
}

.überuns {
  display: flex;
 justify-content: left;
  padding: 0 0 0 0 ;
  margin: 1%;
}

.überschrift {
 text-align: center;
}
.werte{
  display: flex;
  justify-content: center;
}
.werte_beige {
  box-sizing: border-box;
  border: solid 3px; color: var(--licht);
  padding: 0 0 0 0;
  width: 670px;
  height: 322px;
  margin: 20px 0 10px 10px;
}

.werte_blau {
  box-sizing: border-box;
  border: solid 3px; color: var(--himmel);
  padding: 0 0 0 0;
  width: 670px;
  height: 322px;
  margin: 20px 10px 10px 0;
}

.werte_pink {
  box-sizing: border-box;
  border: solid 3px; color: var(--lavendel);
  padding: 0 0 0 0;
  width: 670px;
  height: 322px;
  margin: 0px auto 200px auto;
  
}

.werte_titel { 
  font-weight: 300; 
  color: var(--himmel); 
  text-align: center;
}
.werte_text {
  text-align: center;
} 

.nebeneinander {
  display: flex;
  margin: 0 0 0 0;
  align-self: center;
}
.businesscard {
  background-color: #F9EDD9;
  padding: 20px; /* Adjust the padding according to your design */
  display: flex;
  height: 483px;
  width: 553px;
  margin-right: auto;
  margin-left: auto;
}
.Kontakkarten{
  padding-bottom: 400px;
}
.businesscard h4 {
  color: #0E2720;
    width: auto;
    margin: 0;/* Remove default margin */
  
}
.businesscard h5 {
    color: #0E2720;
    margin: 0; /* Remove default margin */
    width: 307px;
    padding-top: 10px;
}

.zitat {
  width: 60%;
}

.business-card img {
    margin-left: 20px; /* Adjust the margin between text and image */
}

.video {
  border: #0093ED 3px solid;
  display: block;
  margin: 0 auto 200px auto ;
}

/* To be done later...
@media (min-width: 1000px) {
 
}

@media (min-width: 1260px) {

}
later */